@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c345b;
  --foreground: #171717;
}



@layer base {
 body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--font-garamond), serif;
  }
}