@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Geist Mono", monospace;
    background: #1c345b;
    color: #e5e7eb;
  }
}
